/* Custom NProgress Bar */
#nprogress .bar {
    background: #3b82f6 !important; /* Tailwind blue-500 */
    height: 3px;
  }
  
  #nprogress .peg {
    box-shadow: 0 0 10px #3b82f6, 0 0 5px #3b82f6;
  }
  